.left
  h1.logo
    a(href='#') dashboard
  ul.menu
    li.users
      a(href='#') Users
    li.notifications
      a(href='#') Notifications
    li.settings
      a(href='#') Settings
  a.logout Log out

.content
  .top-menu
    li.active
      a(href='#') Account info
    li
      a(href='#') Add user

  .main-cont
    p abc