.left
  h1.logo
    a(href='#') dashboard
  ul.menu
    li.users
      a(href='#') Users
    li.notifications
      a(href='#') Notifications
    li.settings
      a(href='#') Settings
  a.logout Log out

.content
  .top-menu
    li.active
      a(href='#') Account info
    li
      a(href='#') Add user

  .main-cont
    h1 List of all users
    p Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies

    table.users-list
      thead
        tr
          th Client name
          th Phone number
          th Sent
      tbody
        tr
          th Kallie Roose
          th 555 263 273
          th 12
        tr
          th Patty Surprenant
          th 555 263 273
          th 12
        tr
          th Kallie Roose
          th 555 263 273
          th 12
        tr
          th Patty Surprenant
          th 555 263 273
          th 12